@font-face{
    font-family: "Montserrat";
    src:url("/src/assets/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face{
    font-family: "Montserrat";
    src:url("/src/assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face{
    font-family: "Montserrat";
    src:url("/src/assets/fonts/Montserrat-Thin.ttf") format("truetype");
    font-weight:200;
}

@font-face{
    font-family: "Montserrat";
    src:url("/src/assets/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 700;
}