@use "../../../styles/partials/mixin.scss" as *;
@use "../../../styles/partials/variables.scss" as *;


.footer{
    height: 300px;
    display: flex;
    justify-content: space-between;

background-color: rgba(0, 0, 0, 0.5);
@include flex(column, center, flex-start);

}

.footer-title{
    padding: 30px;
    text-decoration: none;
    color: white;
    font-size: 50px;
    align-self: center;
  @include mobile-page-header;
     font-weight: 600;
}

.links{
    display: flex;
    gap: 40px;
   
    font-size: 20px;
    @include mobile-footer-copy;
     font-weight: 600;
    color: white;
    @include flex(column, center, flex-start);
    &-items{
     cursor: pointer;
    }
}