.header {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns the text to the top */
    gap: 7.5rem;
    background-image: url("../../assets/images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8; /* Reduces opacity of the entire header */
    position: relative; /* Makes sure the text can be positioned above the background */
}

/* Add overlay on background image */
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for background image */
    z-index: 0; /* Makes sure the overlay is behind the text */
}

.header__logo {
    font-size: 50px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: white; /* Ensures text is white */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adds shadow for better readability */
    z-index: 1; /* Makes sure logo is above the overlay */
    position: relative;
    padding: 20px;
}

.header-title{
    text-decoration: none;
    color: rgb(243, 235, 242);
}

.header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem; /* Space between title and description */
    font-family: 'Arial', sans-serif;
    text-align: center;
    z-index: 1; /* Makes sure info text is above the overlay */
    position: relative;
    color: rgb(236, 234, 236); /* Ensures text is white */
    padding-top: 20px; /* Adds space from the top */
    font-size: 25px;
}


